<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
       
        <ul> 
                
            <li> <a href="inicio"> Inicio </a> </li>
            <li> <a href="index2"> Index </a> </li>
            <li> <a href="ingresar_datos"> Ingresar dato </a> </li>
            <li> <a href="eliminar_datos"> Eliminar dato </a> </li>
            <li> <a href="consulta"> Consulta </a> </li>
                
        </ul>

        <h1 style= "color: lightblue;" align="center"> BIENVENIDO A LA PAGINA DE CONSULTA DE LOS DATOS MAREOGRAFICOS </h1>

    </header>
    <main>
        
    </main>
    <footer>

    </footer>
</body>
</html>