{% extends "cac_2023/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cac_2023/css/datos.css' %}">
{% endblock %}

{% block titulo %} Alta de mareografos {% endblock %}

{% block encabezado %}

<h1> ALTA DE MAREÓGRAFOS  </h1>
<h2> Desde esta página podrás dar de alta un mareógrafo. </h2>

{% endblock %} 

{% block contenido %}

<form method="POST">    
    {% csrf_token %}
    

    {{form.as_p}}

    <input type= "submit">
</form>

{% endblock %} 