{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block titulo %} {% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'cac_2023/assets/favicon.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'cac_2023/css/base.css' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}"> 
                  <img src="{% static 'cac_2023/assets/favicon.png' %}" alt="" width="40" height="40"> 
                </a>

              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link"href="{% url 'inicio' %}">Inicio</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Datos
                    </a>
                    <ul class="dropdown-menu">
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url 'lista_mareografos' %}">Lista de mareógrafos</a></li>
                      <li><a class="dropdown-item" href="{% url 'alta_mareografo' %}">Alta de mareógrafo </a></li>
                      <li><a class="dropdown-item" href="{% url 'ingresar_datos' %}">Ingresar</a></li>
                      <li><a class="dropdown-item" href="{% url 'eliminar_datos' %}">Eliminar</a></li>
                      {% else %}
                      <li><a class="dropdown-item" href="{% url 'lista_mareografos' %}">Lista de mareógrafos</a></li>
                      <li><a class="dropdown-item" href="{% url 'consulta' %}">Consultas</a></li>
                      {% endif %}
                    </ul>
                  </li>
                  {% if user.is_authenticated %}
                  <button class="btn btn-primary me-md-2 btn-sm" type="button">{{ user.username.upper }} Logueado</button>                  
                  {% else %}
                  <li class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2 btn-sm" type="button">Registrarse</button>
                    <button class="btn btn-primary me-md-2 btn-sm" type="button">Acceder</button>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>

    <header>
        <section class="mensajes">
            {% if messages %}
                <ul class="messages_list">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        {% block encabezado %} {% endblock %}
    </header>



    <main>
        {% block contenido %} {% endblock %}
    </main>
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Codo a Codo 2023 - Comisión 23316 - Grupo 13. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/bc933c1b56.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>