{% extends "cac_2023/base.html" %}
{% load static %}

{% block titulo %}

index_2

{% endblock %}
{% block encabezado %} 

<h1 style="color: blue;">HOLA {{name}} {{last_name}}! ESTOY TRABAJANDO CON DJANGO</h1>

{% endblock %}
{% block contenido %} 

<section>
            
    <h2> Alumno ficticio obtenido de la BBDD </h2>
    <article>
        <p> Nombre: {{alumn.name}} </p>
        <p> Apellido: {{alumn.last_name}} </p>
        <p> Edad: {{alumn.age}}</p>

        {% if not alumn.valid %}
        {% filter upper %}
        <p style="color: red;">Alerta! Este alumno no está validado aún!</p>
        {% endfilter %}
        {% endif %}
        
    </article>

</section>

<section>
    <h2> Listado de alumnos </h2>
    {% for alumno in listado_alumnos%}
    <article>
        <p> Nombre: {{alumno.name}} </p>
        <p> Apellido: {{alumno.last_name}} </p>
    </article>    
    {% endfor %}

</section>

<section>
    <h2>imagen!</h2>
    <img src= "{% static "cac_2023/img/fondo.jpg"%}" alt="imagen" >
</section>

{% endblock %}
