{% extends "cac_2023/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cac_2023/css/datos.css' %}">
{% endblock %}

{% block titulo %} Ingresar {% endblock %}

{% block encabezado %}

 <h1>INGRESO DE DATOS </h1>
 <h3> Desde esta página podrás ingresar datos de los mareógrafos de la Argentina. </h3>

{% endblock %} 

{% block contenido %}

<form method="POST">    
    {% csrf_token %}
    {{form.as_p}}
    <input type= "submit">
</form>

{% endblock %} 
{% endblock %} 