{% extends "cac_2023/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cac_2023/css/datos.css' %}">
{% endblock %}

{% block titulo %} Lista de mareografos {% endblock %}

{% block encabezado %} 

<h1>MAREÓGRAFOS QUE SE ENCUENTRAN DADOS DE ALTA</h1>
<h3> Listado de mareógrafos:</h3>

{% endblock %}

{% block contenido %} 

<ul>
    {% for mareografo in object_list %}
        <li>
            <p> Nombre: {{mareografo.nombre}} </p>
            <p> Tipo de sensor: {{mareografo.tipo}} </p>
            <p> Marca: {{mareografo.marca}} </p>
            <p> Modelo: {{mareografo.modelo}} </p>
            <p> Número de serie: {{mareografo.s_n}} </p>
        </li>
        {% endfor %}
</ul>

{% endblock %}
