{% extends "cac_2023/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cac_2023/css/datos.css' %}">
{% endblock %}

{% block titulo %} Lista de mareografos {% endblock %}

{% block encabezado %} 

<h1>MAREÓGRAFOS QUE SE ENCUENTRAN DADOS DE ALTA</h1>
<h3> Listado de mareógrafos:</h3>

{% endblock %}

{% block contenido %} 
<div class="container">
    <table class = "table table-striped">
        <thead class = "table-primary">
            <tr>
                <th> Nombre </th>
                <th> Marca </th>
                <th> Modelo </th>
                <th> Número de serie </th>
            </tr>
        </thead>
        <tbody>
            {% for mareografo in object_list %}
                <tr>
                    <td> <a href="{% url 'ver_detalles' %}"> {{mareografo.nombre}} </a> </td>
                    <td> {{mareografo.marca}} </td>
                    <td> {{mareografo.modelo}} </td>
                    <td> {{mareografo.s_n}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
