{% extends "cac_2023/base.html" %}
{% load static %}

{% block extra_css %}     {% endblock %}

{% block titulo %}

Listado de Mareógrafos

{% endblock %}
{% block encabezado %} 

<h1>ESTOS SON LOS MAREÓGRAFOS QUE ADMINISTRAMOS</h1>

{% endblock %}
{% block contenido %} 

{% for mareografo in lista_mareografos%}

    <article>
        <p> Nombre: {{mareografo.nombre}} </p>
        <p> Tipo de sensor: {{mareografo.tipo}} </p>
        <p> Marca: {{mareografo.marca}} </p>
        <p> Modelo: {{mareografo.modelo}} </p>
        <p> Número de serie: {{mareografo.s_n}} </p>
    </article>

{% endfor %}

{% endblock %}
