{% extends "cac_2023/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cac_2023/css/datos.css' %}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    {{ form.media }}  {# Adds widget's JS/CSS files from CDN #}
{% endblock %}

{% block titulo %} Tablas de mareas {% endblock %}

{% block encabezado %}
    <h1>Tablas de mareas</h1>
    <h3>Seleccione el mareógrafo de su predilección:</h3>
{% endblock %}

{% block contenido %}
    <ul>
        {% for x in mareas %}
            <li><a href="tb_mareas/detalles/{{ x.mareografo_id }}"> {{ x.mareografo_id }}</a>  | {{ x.ubicacion }} | {{ x.posicion }} </li>
        {% endfor %}
    </ul>
{% endblock %}
